<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'final.css') }}">
    </head>
    <body background="new.jpg">
        <div id="blue">
                <h1 id="title">WEB PHISHING DETECTION<span style="float:right"><a href="\">Home</a> <a href="\about">About</a> <a href="\contact">Contact Us</a></span></h1> 
        </div>                
        </div>
        <div id="white">
            <center>
            <form action="{{ url_for('y_predict') }}" method="post">
            <h1><b><center>Web Phishing Detection using Machine Learning</center></b></h1>
            <input type="text" placeholder="Enter the URL to be searched" id="url" name="url" value="{{ url_path }}" size="20"><br><br>
            <input type="submit" style="font-size:20px" id="start" value="PREDICT">
            <input type="reset" style="font-size:20px" id="start" value="CLEAR">
            </form>
            {{ url }}
            </center>
        </div>
        <footer>
            <div class="copyright">
                <div class="container">
                   <div class="row">
                      <div class="col-md-10 offset-md-1">
                         <center>&copy; Copyright 2022. All Rights Reserved.</center>
                         <center></p><center>Designed for Web Phishing Detection</center></p>
                      </div>
                   </div>
                </div>
        </footer>
        </body>
</html>