<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="icon" type="image/x-icon" href="static/about.png">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'about.css') }}">
</head>	
<body>
	<div id="blue">
	<h1 id="title">WEB PHISHING DETECTION<span style="float:right"><a href="\">Home</a>  <a href="\contact">Contact Us</a><a href="\predict">Get Started</a></span></h1> 
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>It is very important to take care of the users personal sensitive data, that is being stolen by the phishers. </h3>
					<p>Phishing is a form of fraud in which the attacker tries to learn sensitive information such as login credentials or account information by sending as a reputable entity or person in email or other communication channels. In order to predict the phishing websites, we proposed an intelligent, flexible and effective system that uses Machine Learning Algorithm inorder to extract the phishing datasets criteria to classify their legitimacy. This system provides better performance as compared to other traditional Detection algorithms. With the help of this system the user can easily able to understand whether the wesite is phishing or a legitimate one.</p>
					<br><form><br><br><br>
      						<label for="lfname"><u><h2>CONTACT US</h2></u></label> 
    					</form>                   
				</div>
				<div class="social">
					<div class="social-icons">
						<a href="#"><i class="fab fa-facebook"></i><i class="fab fa-twitter"></i><i class="fab fa-linkedin-in"></i></a>
					</div>
				</div>
			</div>
			<div class="image-section">
				<img src="static/image.jpg">
			</div>
		</div>
	</div>
	<div id="white">
        <footer>
            <div class="copyright">
                <div class="container">
                   <div class="row">
                      <div class="col-md-10 offset-md-1">
                         <center><h2>&copy; Copyright 2022. All Rights Reserved.</center></h2> 
                         <center></p><h2><center>Designed for Web Phishing Detection</center></h2></center></p>
                      </div>
                   </div>
                </div>
             </div>
             </footer>
    </div>
</body>
</html>